<p>Hi <%= @agent.name %>,</p>

<p>A conversation has been assigned to you.</p>

<table style="width: 100%;">
  <% @messages.each_with_index do |message, index| %>
    <tr>
      <td class="message-content <% if not message.incoming? %> message-content-agent <% end %>">
        <% if message.content %>
          <div><%= message.content.gsub(/\n/, '<br />').html_safe %></div>
        <% end %>
        <% if message.attachments %>
          <% message.attachments.each do |attachment| %>
            <div>Attachment <%= File.basename(attachment.file_url) %> [<a href="<%= attachment.file_url %>" _target="blank">Click here to view</a>]</div>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% if @messages.length <= (index + 1) or @messages[index + 1].sender != message.sender or (message.created_at - @messages[index + 1].created_at) / 60 > 5 %>
      
      <% if message.incoming? %>
        <tr>
          <td class="message-sender-contact">
            <%= message.sender&.name %> on <%= message.created_at.localtime.to_formatted_s(:short) %>
          </td>
        </tr>
        <tr>
          <td class="message-sender-contact">
            @Email: <%= message.sender&.email %>
          </td>
        </tr>
        <tr><p></p></tr>
      <% else %>
        <tr>
          <td class="message-sender-agent">
            <%= message.sender&.name %> on <%= message.created_at.localtime.to_formatted_s(:short) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<p><a href="<%= @action_url %>">Go to conversation</a></p>